@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-serif;
}

.wrapper {
  @apply max-w-6xl px-4 md:px-8 w-full mx-auto;
}

.wrapper--small {
  @apply md:max-w-xl px-4 md:px-8 w-full mx-auto;
}

.button,
.button--red,
.button--outline,
.button--outline--red {
  @apply border-2 bg-blue border-blue text-white font-bold px-4 py-2 flex items-center gap-x-2 w-fit;
}

.button,
.button--red {
  @apply hover:underline underline-offset-2;
}

.button--outline,
.button--outline--red {
  @apply text-blue bg-white hover:text-white hover:bg-blue transition-colors;
}

.button--red {
  @apply bg-red border-red;
}

.button--outline--red {
  @apply text-red border-red hover:bg-red;
}

.button--full {
  @apply w-full justify-center;
}

.link {
  @apply underline underline-offset-2 hover:text-red;
}

input[type="search"] {
  -webkit-appearance: none;
}

.hero-home {
  background-image: url("/homepagina-herfst.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-home::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
}
